 <div class="row">
       <div class="col-md-8">
           <div class="panel panel-default">
             <div class="panel-heading">
				<h3 class="panel-title">
					JSON content

					<button type="button" class="btn btn-danger pull-right btn-xs" ng-click="removeJSON()"">Remove</button>

				</h3>
             </div>
             <div class="alert alert-danger" ng-if="errInvalidJSON">
				 JSON you entered is invalid
			 </div>
			 <div class="alert alert-danger" ng-if="errBlankName">
				   Name shouldn't be blank or 'new'
			 </div>
		   	 <div class="alert alert-danger" ng-if="errSameName">
				   JSON with same name already exists
			 </div>
             <div class="panel-body">
				<div class="form-group" ng-show=(currentEmail=='new')>
					Name: <input type="text" class="form-control" placeholder="New email name" ng-model="emailName">
				</div>
				<div class="form-group">
					<textarea style="min-width:100%;min-height:400px" class="form-control" ng-model="inputJSON"></textarea>
				</div>
				<button ng-click="updateJSON()" class="btn btn-primary">Update JSON</button>				
             </div>
           </div>
      </div>
</div>